main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
h1{
    width: 100%;
    text-align: left;
    padding-left: 10%;
    font-weight: 400;
    font-size: 50px;
    color: #707070;
    font-family: Poppins, 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
}
section.categories-container{
    display: flex;
    width: 100%;
    padding: 0 13%;
    flex-wrap: wrap;
    justify-content: center;
}
section.categories-container .cat{
    width: 280px;
    max-height: 350px;
    height: 350px;
    background-color: #707070;
    margin: 20px;
    border-radius: 20px;
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
    section.categories-container{
        padding: 0%;
        background-color: #e62626;
    }
    section.categories-container .cat{
        width: 200px;
        max-height: 270px;
        height: 270px;
    }
}
@media only screen and (max-width: 768px){
    section.categories-container .cat{
        width: 200px;
        max-height: 270px;
        height: 270px;
        
    }
    section.categories-container{
       height: 300px;
       /* background-color: rebeccapurple; */
       padding: 0 1%;
       align-items: center;
       justify-content: flex-start;
       overflow-y: scroll;  
       flex-direction: column;
    }
}